<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>HOME DIRECTORY</h1>
    <h2>data untuk login</h2>
    <h2>email : admin@admin</h2>
    <h2>password : admin</h2>
    <a href="/main"><h1>main</h1></a>
    <br />
    <a href="/login"><h1>login</h1></a>
    <br />
    <a href="/register"><h1>register</h1></a>
    <br />
    <a href="/api/users"><h1>users JSON</h1></a>
  </body>
</html>
