<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LOGIN</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:400,700"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
      <form action="/login" method="post">
        <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input
              type="email"
              placeholder="email"
              autocomplete="nope"
              id="email"
              name="email"
            />
          </div>
          <div class="input-field">
            <input
              id="password"
              type="password"
              placeholder="Password"
              autocomplete="new-password"
              name="password"
            />
          </div>
          <a href="#" class="link">Forgot Your Password?</a>
        </div>
        <div class="action">
          <button><a href="/register"> Register</a></button>
          <button>Sign in</button>
        </div>
      </form>
    </div>
    <!-- partial -->
    <script src="/js/login.js"></script>
  </body>
</html>
