<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/register.css" />
<div class="testbox">
  <h1>Registration</h1>

  <form action="/api/users" method="post">
    <hr />
    <hr />
    <label id="icon" for="name"><i class="icon-envelope"></i></label>
    <input type="text" name="email" id="email" placeholder="email" required />
    <label id="icon" for="email"><i class="icon-user"></i></label>
    <input type="text" name="name" id="name" placeholder="Name" required />
    <label id="icon" for="name"><i class="icon-shield"></i></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />

    <p>
      By clicking Register, you agree on our
      <a href="#">terms and condition</a>.
    </p>
    <button type="submit" class="button">Register</button>
  </form>
</div>
